.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__container {
    display: flex;
    margin-top: 72px;
  }
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
