.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__container {
    display: flex;
    margin-top: 72px;
    flex-grow: 1;
    position: relative;
    gap: 20px;
  }

  &__main {
    width: 100%;
    display: flex;
  }
}
