.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;

  &__container {
    display: flex;
    margin: 72px 20px 0;
    flex-grow: 1;
    position: relative;
    gap: 20px;
  }

  &__main {
    width: 100%;
    display: flex;
  }
}
