@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 20px;
  min-width: 190px;

  &__list {
    @include mp-null;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;

    &Item {
      display: flex;
      color: $Primary-black;
      text-decoration: none;
      gap: 10px;
      padding: 12px 20px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &_active {
        background-color: $Grey-card;
      }
    }
  }
}
