.comments {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 4px 0 24px 0;
}

.comment {
  &__container {
    display: flex;
    position: relative;
  }

  &__divider {
    position: absolute;
    top: 20px;
    left: 20px;
    content: '';
    height: 25px;
    border: 1px solid grey;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    background: #b3b3b3;
    display: block;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 20px;
  }
  &__author {
    margin: 10px 20px 0 0;
    padding: 0;
    float: left;
  }
  &__time {
    margin: 10px 0 0 0;
    padding: 0;
  }
  &__text {
    clear: both;
    margin: 13px 0 0 0;
    padding: 0;
  }
  &__input > div {
    border-radius: 50px !important;
  }
}
