// Цвета
$Primary-black: #0e0e0e;
$Dark-grey: #7c7c86;
$Button-text: #b3b3b3;
$Secondary-grey: #e7e8eb;
$Grey-card: #f3f4f5;
$White: #fff;

$Red: #ef3124;
$Red-text: #ed3b25;
$Red-light: #ffdfdf;
$Orange: #ea8314;
$Orange-light: #fde6c8;
$Red-light: #ffdfdf;
$Green-text: #0a9336;
$Green-light: #d1f1d7;
$Accent-Green: #0cc44d;
$Purple-text: #c44eff;
$Purple-light: #f1ddfb;

// Шрифты
$font-family:
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Helvetica,
  sans-serif;
$font-family-title:
  Styrene UI,
  system-ui,
  Arial,
  sans-serif;
