.taskList {
  padding: 64px 0 0 0;
  &__headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__addTask {
    margin: 24px 0 0 0;
  }
  &__noTasks {
    margin: 32px 0 0 0;
    max-width: 550px;
  }
  &__loader {
    margin: 40px 0 0 40vw;
  }
}
